.popup {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    background: #7CC0FF;
    position: absolute;
    right: 32px;
    bottom: 32px;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 9999;
}

.popup__line {
    width: 24px;
    height: 2px;
    border-radius: 2px;
    background-color: white;
    position: absolute;
    transition: all ease-in-out 0.3s;
}

.popup__line.first {
    transform: rotate(90deg);
}

.popup.active > .popup__line.first {
    transform: rotate(-45deg);
}
.popup.active > .popup__line.second {
    transform: rotate(45deg);
}

