.todo-list-item__wrapper {
    position: relative;
    width: 100%;
    height: 50px;
    box-shadow: -1px 5px 21px 9px rgba(0, 0, 0, 0.02);
    border-radius: 10px;
    margin-bottom: 10px;
    box-sizing: border-box;
}
.todo-list-item {
    width: 100%;
    height: 50px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    padding: 0 10px;
    justify-content: space-between;
    background-color: white;
    box-shadow: -1px 5px 21px 9px rgba(0, 0, 0, 0.03);
    transition: ease 0.4s;
    position: relative;
    z-index: 2;
}

.todo-list-item__name_btn {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid #222222;
}

.todo-list-item__name {
    display: flex;
    align-items: center;
}

.todo-list-item__name > p {
    margin-left: 10px;
}

.todo-list-item.settings {
    transform: translateX(-70px);
}

.todo-list-item__name.done > .todo-list-item__name_btn {
    background: rgb(141, 141, 221);
    border: none;
}
.todo-list-item__name.done > p {
    color: rgb(141, 141, 221);
}

.todo-list-item__btn {
    display: flex;
    align-items: center;
    justify-content: center;
}

.todo-list-item__menu {
    position: absolute;
    z-index: 1;
    display: flex;
    opacity: 1;
    right: 0;
    top: 24%;
}

.todo-list-item__menu_del {
    margin-right: 5px;
}